{% extends "defects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Add Defects</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{form.defect_id | as_crispy_field}} 
                </div>
                <div class="col-md-6">
                    {{form.defect_name | as_crispy_field}} 
                </div>
                <br>
                <div class="col-md-6">
                    {{form.assigned_by | as_crispy_field}} 
                </div>
                <div class="col-md-6">
                    {{form.assigned_to | as_crispy_field}} 
                </div>
                <br>
                <div class="col-md-6">
                    {{form.description | as_crispy_field}} 
                </div>
                <div class="col-md-6">
                    {{form.defect_status | as_crispy_field}} 
                </div>
                <br>
                <div class="col-md-6">
                    {{form.priority | as_crispy_field}} 
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="ADD">
        </form>
    </div>
</div>
{% endblock  %}