<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body { font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #333;}
        .container { max-width: 600px; margin: 0 auto; padding: 20px;}
        .header { background-color: #f4f4f4; padding: 10px; text-align: center;}
        .content {padding: 20px;}
        .footer {font-size: 12px; color: #777; text-align: center;}
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Defect Assignment</h2>
        </div>
        <div class="content">
            <p>Dear Employee,</p>
            <p>You have been assigned a new defect with the following details</p>
            <ul>
                <li><strong>Defect Name: </strong> Task</li>
                <li><strong>Description: </strong>hee hee heee heeee</li>
                <li><strong>Deadline: </strong>feb 38</li>
            </ul>
            <p>Please Confirm Details of this mail amd let me known if you have any douts </p>
            <p>Best regrads,</p>
            <p>Texting Team</p>
        </div>
        <div class="footer">
            <p>This mail is automated mail.  Please do not replay directly to this mail</p>
        </div>
    </div>
</body>
</html>