{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <br><br>
            {% if passw %}
            <div class="card card-body">
                <h1 style="text-align: center;">✅</h1>
                <h1 style="text-align: center;">Password Changed Successfully</h1>
                <p style="text-align: center;">Please procced to<a href="login">Login</a></p>
            </div>
            {% else %}
            <h1 style="text-align: center;">Reset Password here</h1>
            <form action="" method="post">
                {% csrf_token%}
                {{ form.non_field_errors }}
                <div class="row">
                    {{form.username | as_crispy_field}} 
                </div>
                <div class="row">
                    {{form.password | as_crispy_field}} 
                </div>
                <div class="row">
                    {{form.confirm_password | as_crispy_field}} 
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}