{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="card card-body">
                <h1 style="text-align:center;">Registration Form</h1>
            {% if registered  %}
                <h1 style="text-align: center;">ThankYou For Registration</h1>
                <p style="text-align: center;">Please procced to<a href="#">Login</a></p>
            {% else %}
                <form  enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{form.username | as_crispy_field}} 
                        </div>
                        <div class="col-md-6">
                            {{form.email | as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{form1.Door_no | as_crispy_field}} 
                        </div>
                        <div class="col-md-6">
                            {{form1.Street | as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{form1.City | as_crispy_field}} 
                        </div>
                        <div class="col-md-6">
                            {{form1.State | as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{form1.Zipcode | as_crispy_field}} 
                        </div>
                        <div class="col-md-6">
                            {{form.password | as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{form1.Profile_pic | as_crispy_field}} 
                        </div>
                    </div>
                    {{form1.captcha}}
                    <br>
                    <input type="submit" value="Register" class="btn btn-success">
                </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock  %}